#primary {
    .hero-section {
        .hero-row {
            width: 100%;

            h1 {
                margin-top: $unit11 + 2px;
                margin-bottom:$unit2 + $halfunit !important;
            }
            p{
                color: $white;
            }

            a.btn {
                margin-top: $unit9 + 2px !important;
                border: 0;
                outline: none;
                @include border-radius(8px);
                position: relative;
                @include transition(all .3s ease-in);

                span {
                    width: 20px;
                    height: 25px;
                    display: inline-block;
                    margin-right: $unit2 + 1px;

                    img {
                        vertical-align: text-bottom;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

.go-next-section {
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
    bottom: 30px;
    cursor: pointer;
    width: 25px;
    @include transition(all .3s ease-in);

    img {
        max-width: 100%;
    }

    &:hover {
        bottom: 25px;
    }
    @include media("<md"){
        display: none;
    }
}

.home {
    #primary {
        .hero-section {
            min-height: 760px;
            @include media("<md"){
                min-height: 347px;
                a.btn {
                    display: none;
                }
            }
        }
    }
}