img {
    max-width: 100%;
}

/* 
Home page
================================================================ */

/* 
how we work section
================================================================ */
.how-we-work-section {
    background-color: $athens-gray;

    h2 {
        color: $regal-blue;
        margin-bottom: $unit9 - 2px;
    }

    h4 {
        color: $denim;
        margin-top: $unit6 - 3px;
        margin-bottom: $u-25;
    }

    .work-icon {
        min-height: 110px;
    }

    p {
        margin-bottom: $u-25;

        &:last-child {
            margin-bottom: 0;
        }
    }



    .btn-wrap {
        padding-top: 85px;

        a.btn {
            width: 340px;
            height: 56px;
            @include border-radius(10px);
            background-color: $denim;
            padding: $unit2;
            border: 0;

            &:hover {
                color: $white;
            }
        }
    }

    .owl-carousel {
        display: flex;
    }

    @include media("<md") {
        padding-top: $unit5;
        padding-bottom: $unit6 + 2px;

        h2 {
            margin-bottom: 0;
        }

        .btn-wrap {
            display: none;
        }

        .owl-carousel {
            margin: 0;

            .owl-item {
                margin-right: 0px !important;

                img {
                    max-width: 200px;
                    margin: 0 auto;
                }
            }
        }

    }
}

/* 
world class contracting section
================================================================ */

.world-class-contracting-section {
    .border-text {
        .text {
            border-color: $denim;

            p {
                color: $comet;
            }
        }
    }

    @include media("<md") {
        padding-top: 6px;
        padding-bottom: 35px !important;
        text-align: center;

        .border-text {
            .text {
                padding-left: 0 !important;
            }
        }

        .contracting-row {
            padding-bottom: 0 !important;
            margin-top: $unit3 + 2px !important;
        }

        .contracting-row-second {
            margin-top: $unit4 - 2px !important;
        }

        .contracting-row {
            padding-bottom: 0 !important;
            margin-top: $unit3 + 2px !important;
        }
    }
}


// Grid style 




.grid-wrap {
    display: -ms-grid;
    display: grid;
    grid-template-areas: 'box-1 box-3 box 4''box-2 box-3 box 5';
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    .card {
        min-width: 33.33333333333333vw;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        .img {
            height: 100%;
        }

        img {
            height: 100%;
        }
    }

    .card.grid-item-3 {
        height: 100%;
        max-height: 670px;

        .img {
            max-height: 100%;
        }
    }
}

.grid-item-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    height: 400px;
}

.grid-item-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: 270px;
}

.grid-item-3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    height: 670px;
}

.grid-item-4 {
    -ms-grid-column: 3;
    grid-column: 3/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    height: 270px;
}

.grid-item-5 {
    -ms-grid-column: 3;
    grid-column: 3/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: 400px;
    margin-top: -130px;
}



/*
.grid-wrap {
    display: grid;
    //grid-template-columns: 1fr 1fr 1fr;
    // grid-auto-rows: minmax(270px, auto);
    grid-template-areas:
        'box-1 box-3 box 4'
        'box-2 box-3 box 5';

    justify-content: stretch;
    align-items: stretch;

    //grid-template-rows: 400px;
    .card {
        min-width: 33.33333333333333vw;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        .img,
        img {
            height: 100%;
        }

        &.grid-item-3 {
            height: 100%;
            max-height: 670px;

            .img {
                max-height: 100%;
            }
        }
    }
}

.grid-item-1,
.grid-item-2 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.grid-item-1 {
    height: 400px;
}

.grid-item-2 {
    grid-row: 2/3;
    height: 270px;
}

.grid-item-3 {
    grid-column: 2/3;
    grid-row: 1/3;
    height: 670px;
}

.grid-item-4,
.grid-item-5 {
    grid-column: 3/3;
    grid-row: 1/2;
}

.grid-item-4 {
    height: 270px;
}

.grid-item-5 {
    grid-row: 2/3;
    height: 400px;
    margin-top: -130px;
}*/

.masonary {
    .card-columns {
        .card {
            .img {
                background-color: rgba(0, 0, 0, 0.14);

                .card-overlay {
                    left: 40px;
                    bottom: 25px;

                    .placeholder-text {
                        color: $white !important;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .masonary-row {
        h3 {

            color: $comet;
            margin-top: $unit4 - 2px;
            margin-bottom: 0;

            a {
                position: relative;
                display: inline-block;
                padding-right: 80px !important;

                .arrow-circle-right {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    @include transform(translateY(-50%));
                    margin-left: 0;
                    @include transition(all .3s ease-in);
                    width: 48px;
                    height: 48px;
                    display: inline-block;
                    vertical-align: middle;
                    @include border-radius(50%);
                    overflow: hidden;
                    margin-left: $u-25;
                    @include transition(all .3s ease-in);
                    background-color: $denim;

                    i {
                        font-size: $font-size + 4px;
                        line-height: 48px;
                        color: $white;
                    }
                }

                &:hover {
                    .arrow-circle-right {
                        right: 0;
                    }

                }
            }

        }
    }

    @include media("<md") {
        padding-bottom: 0;

        .masonary-row {
            margin-bottom: 0 !important;

            &:nth-child(2) {
                display: none;
            }
        }
    }
}

.owl-theme {
    .owl-dots {
        .owl-dot {
            outline: none;
        }
    }
}

/* Beginning  page-our-values 
=====================================*/
.our-valuse-info {
    background-color: $depp-gray;
    padding: 0 0 92px 0;

    .container {
        max-width: 1124px;
    }

    .our-value-row {
        margin: 0;
    }

    .our-value-info-col {
        margin-top: $unit12;

        &:nth-child(-n+3) {
            margin-top: $unit10 + 2px;
        }

        .value-info-col-inner {
            @include displaFlex;
            align-items: center;
            -webkit-box-align: center;
            min-height: 105px;
        }

        h6 {
            margin-top: $unit4 - 2px;
        }

        p {
            margin: 20px 0 0 0;
        }
    }

    @include media("<md") {
        padding-bottom: $unit4 - 2px;

        .our-valuse-info-col {
            margin-top: $unit5;

            &:nth-child(-n+3) {
                margin-top: $unit5;
            }
        }
    }
}


.our-values-health-safety {
    padding: 104px 0;

    p {
        color: $comet;
        margin-top: $unit2+ 4px;
    }

    .health-safety-container {
        margin-top: $unit14 + 3px;
        margin-bottom: 0 !important;

        &:first-child {
            margin-top: 0;
        }
    }

    .s-image {
        padding-left: 7.035088%;
    }

    .m-image {
        padding-right: 4.819123%;

    }

    h3 {
        margin-bottom: 0;
        margin-top: $unit7 + 2px;
        line-height: 44px;
        color: $denim;

        &:first-child {
            margin-top: 0;
        }
    }

    @include media("<md") {
        padding: 40px 0;
        text-align: center;

        .mb-5 {
            margin-top: $unit4 - 2px;

        }

        .s-image {
            margin-top: $unit4 - 2px;
            padding-left: $unit2 - 1px;
        }

        .m-image {
            padding-right: $unit2 - 1px;
            margin-bottom: $unit4 - 2px;
        }
    }
}

/* End  page-our-values 
=====================================*/

/* Beginning Our experience */

#location-map {
    .acf-map {
        margin: 0;
    }
}

.industry-section {
    padding: 95px 0 102px;
    
    h2{
        color:$regal-blue;
        line-height: 1.34;
        
    }

    .container {
        max-width: 1110px;

        h2 {
            margin-bottom: 0;
        }
    }

    .industry-info {
        margin-top: 65px;
        @include displaFlex;

        .industry-col {
            margin-top: 25px;
            padding: 0 5px;
        }

        .rounded-img {
            width: 72px;
            height: 72px;
        }
        h6{
            color:$denim;
        }
    }

    @include media("<md") {
        padding: 30px 0 30px;

        .industry-info {
            margin-top: $unit2 + $halfunit;

        }
    }

}

.carousel-block-1 {
    .container {
        h3{
            color:$regal-blue;
            margin-bottom:0 ;
        }
        p {
            margin-bottom: 35px;
        }

        ul {
            padding-left: 0;

            li {
                padding-left: 20px;
                margin-top: $unit1 + 2px;
                line-height: 1.5;
                color:$comet;
            }
        }

        .commercial {
            padding-left: $unit10 + 1px !important;
        }
    }

    .custom-container {
        max-width: 1220px;
    }

    .owl-carousel {
        .owl-nav {
            .owl-prev {
                margin-left: $unit12 - 2px;
            }

            .owl-next {
                margin-right: $unit12 - 2px;
            }
        }

        .owl-item {
            .item {
                background-position: center center;
            }
        }
    }

    @include media("<md") {
        .b-block {
            padding: 0;
        }

        .container {
            p {
                margin-bottom: $unit2 + $halfunit;
            }

            .commercial {
                padding-left: $unit2 - 1px !important;
            }

            ul {
                margin-bottom: 0;
            }

            .equal-carousel {
                display: inline-block;
                height: 330px !important;
            }

        }

        .owl-carousel {
            .owl-nav {
                .owl-prev {
                    margin-left: $unit2 + $halfunit;
                }

                .owl-next {
                    margin-right: $unit2 + $halfunit;
                }
            }
        }
    }

    @include media("<lg") {
        .owl-carousel {
            .owl-nav {
                .owl-prev {
                    margin-left: $unit4 - 2px;
                }

                .owl-next {
                    margin-right: $unit4 - 2px;
                }
            }
        }

    }
}



/* End Our experience */





/*
Contact Page
================================================================*/

.page-template-page-contact,
.page-template-page-career {
    p.placeholder-text {
        color: $white !important;
    }
}

.contact-label {
    display: inline-block;
    min-width: 55px;
}

.contact-details {
    font-weight: 700;
}

.contact-content {
    .contact-row {
        align-items: center;

        .contact-row-col-1 {
            h3 {
                color: $denim;
            }

            .row-contact {
                .contact-col {
                    .row {
                        margin-top: $unit1;

                        .contact-details {
                            color: $comet;
                        }
                    }
                }
            }
        }

        .contact-row-col-2 {
            padding: 0 35px 0 90px;
            background-color: $denim;
            position: relative;

            &::after {
                position: absolute;
                left: 100%;
                top: 0;
                right: -150%;
                bottom: 0;
                content: '';
                background: $denim;
            }

            h3 {
                color: $white;
            }

            .nf-form-title {
                margin-top: $unit3 + $halfunit;
                float: left;
                width: 100%;
            }

            .nf-row {
                width: 48%;
                margin-top: $unit5;

                &:first-child {
                    margin-right: 3.888888888888889%;
                }

                &:nth-last-of-type(-n+2) {
                    width: 100%;
                    text-align: center;
                }

                .nf-field-element {
                    textarea {
                        resize: none;
                    }

                    #nf-field-4,
                    #nf-field-8 {
                        width: 240px;
                        height: 50px;
                        background: $regal-blue;
                        border: none;
                    }
                }
            }
        }
    }

    @include media("<md") {
        .contact-row {
            .contact-row-col-1 {
                padding: 0 30px;
            }

            .contact-row-col-2 {
                padding: 0 30px;

                .nf-row {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }

    @include media("<lg") {
        .contact-row {
            .contact-row-col-2 {
                .nf-row {
                    width: 100%;
                    margin: 0;

                    &:first-child {
                        margin-right: $unit2 + 1px;
                    }
                }
            }
        }

    }

}


.team-section {
    .card-wrapper {
        @include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.05));
        border: 1px solid #eeeef2;
    }

    h4 {
        color: $regal-blue;
        margin-top: $unit5;
    }

    p {
        font-family: $second-font-family;
    }

    .wrap-link {
        color: $comet;
        margin-top: $unit8 - $halfunit;
        display: block;
    }
}


.project-section {
    background: $regal-blue;

    h3 {
        color: $white;
    }

    .project-content {
        margin-top: $unit8 - $halfunit;
        align-items: center;
        position: relative;

        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            content: '';
            background: $cornflower-blue;
            width: 3px;
            left: 49.2%;
        }
        
        p{
            color: $white;
        }

        .project-col {
            max-width: 37%;
            padding-right: $unit4 - 2px;
        }

        .offset-lg-1 {
            margin-left: 12.333333%;
        }

        .project-col-1 {
            padding-left: $unit4 - 2px;

            p {
                &:first-child {
                    span.contact-label {
                        margin-right: $unit9 + 4px;
                    }
                }

                &:last-child {
                    span.contact-label {
                        margin-right: $unit2;
                    }
                }

                a.contact-details {
                    color: $white;
                }
            }
        }
    }

    @include media("<md") {
        .project-content {
            margin-top: $unit2 + $halfunit;

            &::after {
                display: none;
            }

            .project-col,
            .project-col-1 {
                max-width: 100%;
                margin: 0;
                padding: 0 15px;
                text-align: center;
            }

            .project-col-1 {
                margin-top: $unit2 + $halfunit;

                p {
                    &:first-child {
                        span.contact-label {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    @include media(">=xxs") {
        .project-content {
            .project-col-1 {
                p {
                    a.contact-details {
                        margin: 0;
                    }
                }
            }
        }
    }
}

/* End contact Page */

/*
Our Carrer Page
================================================================*/
.benefit-section {
    .benefit-row-1 {
        p {
            color: $comet;
        }
    }

    .benefit-row {

        .benefit-row-col-icon {
            min-height: 67px;
        }

        h4 {
            color: $midnight-express;
        }
    }

    @include media("<md") {
        .benefit-row {
            .benefit-row-col {
                margin-top: $unit3 + 1px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    @include media(">=xs") {
        .benefit-row {
            .benefit-row-col {
                &:nth-child(2) {
                    margin-top: 0;
                }
            }
        }
    }
}

.our-carrer-form {
    p {
        margin-top: $unit3 + 1px;
        color: $comet;
    }

    .our-carrer-row {
        padding-right: $unit4 - 2px;

        h3 {
            color: $denim;
        }

        #careers-accordion {
            .card {
                .card-header {
                    button {
                        color: $regal-blue;
                        outline: none;
                        padding-left: $unit3 + 1px;
                        position: relative;

                        &::before {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            content: "";
                            background: #033975;
                            width: 10px;
                            height: 10px;
                            @include border-radius(100%);
                            @include transform(translateY(-50%));
                        }

                        &:hover {
                            color: $denim;
                        }
                    }
                }
            }
        }
    }

    .contact-row-col-2 {
        padding-top: $unit8 + 2px !important;

        .nf-row {
            &:nth-last-of-type(-n+3) {
                width: 100%;
                text-align: center;
            }

            &:nth-last-of-type(2) {
                margin-top: $unit1 + 2px;
            }

            .nf-fu-progress {
                display: none;
            }

            button {
                width: 100%;
                background-color: $white;
                border: none;
            }
        }
    }

}

/* End Our Carrer Page */



/* Beginning Why Wcc Page */

.page-template-page-why-wcc-php {
    p {
        color: $comet;
    }

    .split-cta {
        p {
            color: $white;
        }
    }
}

.organized-info {
    h2 {
        color: $regal-blue;
    }

    .container {
        .title-info {
            padding: 0 40px;

            .organized-col {
                padding: 0 30px;
            }
        }
    }

    .organized-row {
        margin-top: $unit8 - 4px !important;

        .organized-col {
            padding: 0 5% !important;
            width: 100%;

            p {
                margin-bottom: $unit4 - 2px !important;
            }

            ul {
                li {
                    color: $deep-blue !important;
                    font-size: $font-size - 2;
                    font-family: $base-font-family;
                    font-weight: 700;
                    padding-left: $unit2 + 4px;

                    &:before {
                        background: $deep-blue !important;
                        content: '';
                        width: 8px;
                        height: 8px;
                        @include border-radius;
                        @include centerTop;
                    }
                }

                p {
                    padding-top: 20px;
                    font-size: $font-size - 3;
                    font-family: $base-font-family;
                    width: 80%;
                }
            }

            &:first-child {
                padding-left: 15px !important;
            }

            &:last-child {
                padding-right: 15px !important;
            }
        }
    }

    .list-info {
        p {
            font-size: $font-size - 2;
        }
    }

    @include media("<md") {
        padding: 0 !important;
        margin-top: 350px;

        .container {
            .title-info {
                padding: 0 20px;

                .col-12 {
                    padding: 0;
                }
            }
        }

        .mt-5 {
            margin-top: 30px !important;
            display: block;
            padding: 0 20px !important;

            .col-6 {
                padding: 0 !important;
                width: 100%;
                max-width: 100% !important;


                &:first-child {
                    padding-left: 0px !important;
                }

                &:last-child {
                    padding-right: 0px !important;
                }
            }
        }
    }

    @include media("<lg") {
        padding-bottom: $unit7 + $halfunit !important;

        .mt-5 {
            .col-6 {
                display: block;
                float: left;
                max-width: 100% !important;
                flex: none;

                ul {
                    p {
                        br {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @include media("<xl") {
        padding-bottom: $unit7 + $halfunit !important;

    }

}

.page-template-page-why-wcc-php {
    .equal-section {
        height: 480px;

        .container {
            height: 100%;

            .row {
                height: 100%;
            }
        }

    }

    /*.random-gallary {
        .img-3 {
            width: 270px;
        }
    }*/
}

.commitment-info {
    background: $depp-gray;

    h2 {
        margin-bottom: $unit2 + 4px;
        color: $regal-blue;
    }

    .zed1 {
        max-width: 46%;

        p {
            &:last-child {
                max-width: 320px;
                padding: 20px 20px 50px !important;
                background: $white;
                margin-top: $unit6 + 2px;
            }

            strong {
                float: left;
                width: 100%;
                font-size: 16px;
                color: $deep-blue;
                margin-top: $unit1 - 2px;
            }
        }
    }

    @include media("<md") {
        .zed1 {
            max-width: 100%;
            padding-left: 0px !important;
            padding: 0 20px !important;

            p {
                &:last-child {
                    max-width: 320px;
                    padding: 20px 20px 50px !important;
                    margin-top: $unit4 - 2px;
                }
            }
        }

    }

    @include media(">xxs") {
        .zed1 {
            p {
                strong {
                    font-size: 15px;
                }
            }
        }
    }

    @include media("<lg") {
        padding: 50px 0;

        .zed1 {
            p {
                &:last-child {
                    margin-top: 0;
                }
            }
        }

        .row.py-5 {
            padding-top: 0px !important;
        }
    }


}


.history-info {
    background: $depp-gray;

    h2 {
        margin-bottom: $unit3 + 1px;
        color: $regal-blue;
    }

    .zed1 p {
        padding-right: $unit7 + 1px;
    }
}



.world-skill {
    padding-bottom: $unit25;

    h2 {
        color: $regal-blue;
    }

    .mt-5 {
        margin-top: $unit14 + 3px !important;

        .col-12 {
            &:last-child {
                max-width: 40%;
                padding-left: $unit6 + 2px;
                margin-left: 6%;
            }
        }
    }

    @include media("<md") {
        padding-bottom: 50px;
        margin-top: $unit25;

        .random-gallary {
            height: auto;

            .img-0,
            .img-1,
            .img-2,
            .img-3 {
                position: relative;
                left: auto;
                width: 100%;
                overflow: hidden;
                margin-top: $unit4 - 2px;
                top: auto;
                right: auto;
                bottom: auto;
                width: 100%;
                height: 100%;
                min-height: 200px;
            }

            .img-2 {
                min-height: 350px;
            }

            .img-3 {
                min-height: 175px;
            }
        }

        .mt-5 {
            margin-top: $unit4 - 2px !important;

            .col-12 {
                &:last-child {
                    max-width: 100%;
                    padding: 30px 20px 0;
                    margin-left: 0;
                }
            }
        }
    }

    @include media("<lg") {

        .world-skill {
            padding: 50px 0;

            .mt-5 {
                .col-12:last-child {
                    padding-left: $unit2 + 3px;
                }
            }
        }


        .page-template-page-why-wcc-php {
            .random-gallary {
                .img-3 {
                    width: 150px;
                }
            }
        }
    }

    @include media("<xs") {
        .random-gallary {

            /*

            .img-0,
            .img-1,
            .img-3 {
                min-height: 350px;
            }
*/
            .img-2 {
                min-height: 650px;
            }
        }
    }
}




@include media("<md") {


    header {
        .navbar {
            .navbar-brand {
                -webkit-box-ordinal-group: 2;
                -webkit-order: 2;
                -moz-order: 2;
                -ms-order: 2;
                order: 2;
                margin-right: 0;
            }
        }
    }


    .grid-wrap {
        .card {
            width: 100vw;
            height: 273px;
            display: none;

            &:nth-child(-n + 3) {
                display: block;
            }

            &.grid-item-2 {
                height: 245px;
            }

            &.grid-item-3 {
                height: 238px;
                grid-column: 1/2;
                grid-row: 3/4;
            }
        }

    }

}


/* End Why Wcc Page */