header {
  &.site-header {
    width: 100%;
    z-index: 100;
  	position:fixed;
    background-color: transparent;
    nav {
      display: flex;
      justify-content: space-between;
      .logo {
        margin-top: $unit2;
        height: $unit8;
        width: auto;
      }
      .menu-toggler {
        padding-left: 0;
        display: inline-block;
        padding-right: 36px;
        min-width: 70px;
        height: $unit8;
        .menu-toggler-icon {
          i {
            margin-top: $u-25;
            font-size: 1.5rem;
          }
          &.open {
            display: none;
          }
        }
        .menu-close-icon{
          display: none;
          &.open {
            display: block;
          }
          i {
            margin-top: 23px;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

.menu-overlay {
  display: block;
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  right: 0;
  background-color: $white;
  z-index: 10;
  transition: top .2s ease;
  &.open {
    top: 0;
    transition: top .2s ease;
  }
  #menu-primary {
    margin-top: $unit10;
    text-align: center;
    li {
      padding: $unit2;
      a {
        font-size: 1.5rem;
      }
    }
  }
}
